{################################################ 
    Layout Definition & Variables
#################################################}

{# Layout #}
{% extends 'layoutAdmin.html.twig' %}

{# Sidebar: Aktiver Link #}
{% block navActiveIndex %}class="active"{% endblock %}

{# Content-Header: Titel und optionale Description + Breadcrumps #}
{% block pageHeader %}
    {{ parent() }}

    {# Seitentitel #}
    {% block pageHeaderTitel %}Startseite{% endblock %}

    {# Beschreibung neben Seitentitel #}
    {% block pageHeaderDescription %}Eine Beschreibung{% endblock %}

    {# Breadcrumb: Toplevel #}
    {% block BreadcrumbMainLevel %}
        <li><a href="#"><i class="fa fa-sitemap"></i> Startseite</a></li>
    {% endblock %}

    {# Breadcrumb: Sublevel #}
    {% block BreadcrumbMainLevelSubOne %}{% endblock %} {# No Sublevel here #}
{% endblock %}


{################################################ 
    Block: content
#################################################}

{% block content %}
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-6">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Willkommen im Dashboard</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  Eine Dokumentation zum Dashboard finden Sie hier <a href="#">Dokumentation Dashboard</a>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
            <div class="col-md-6">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Willkommen im neuen Dashboard</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  Das ist eine Beispiel-Box.
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
            <div class="clearfix"></div>
        </div>

        {# Gridstack #}
        <style>
            .grid-stack-item{
                border: 1px solid silver;
                background-color: #00A6C7;
            }
        </style>


        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">

                </h3>
            </div><!-- /.box-header -->
            <div class="box-body">


            </div><!-- /.box-body -->
        </div><!-- /.box -->



        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                    <textarea name="editor1" id="editor1" rows="10" cols="80">
                        This is my textarea to be replaced with CKEditor.
                    </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="save" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {# 2. Modal #}
        <div id="modal-2" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                    <textarea name="editor1" id="editor2" rows="10" cols="80">
                        This is my textarea to be replaced with CKEditor.
                    </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="save-2" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </section><!-- /.content -->
{% endblock %}