/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/.idea/*
composer.lock
/web/assets/compiled/*

# Sublime
devpro_page.sublime-project
devpro_page.sublime-workspace

# Package Manager
node_modules
web/assets/bower_components