# Sytem
.DS_Store

# PHPStorm
/.idea/

# Symfony
/app/bootstrap.php.cache
/app/cache/
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/web/bundles/
composer.lock

# Package Managers
node_modules
/web/assets/vendor/
/vendor/

# Assets (Dev)
/web/assets/admin/css/
/web/assets/frontend/css/
/web/assets/compiled/
!/web/assets/compiled/.gitkeep

# Uploads
/web/uploads/
!/web/uploads/documents/.gitkeep
!/web/uploads/images/.gitkeep
!/web/uploads/media/.gitkeep