{# app/Resources/views/demo/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Benjamin Knecht">


        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            {% stylesheets
                'assets/css/bootstrap.min.css'
                'assets/css/main.css'
                filter='cssrewrite' output='assets/css/compiled/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {% javascripts
                'assets/js/jquery.min.js'
                'assets/js/bootstrap.min.js'
                'assets/js/layout.js'
                output='assets/js/compiled/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        <title>{% block title %}Base Layout{% endblock %}</title>
    </head>
    <body>
    {% block navbar %}{% endblock %}

    {% block content %}{% endblock %}

    {%  block footer %}

    {% endblock %}
    </body>
</html>