<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% javascripts
    'assets/vendor/js/jquery.js'
    'assets/vendor/bootstrap/js/bootstrap.min.js'
    output='assets/vendor/js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
    'assets/vendor/bootstrap/css/bootstrap.min.css'
    'assets/vendor/bootstrap-table/bootstrap-table.css'
    'assets/css/main.css'
    filter='cssrewrite' output='assets/vendor/css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body class="backend-login">


{% block body %}

{% endblock %}

</body>
</html>