<!DOCTYPE html>
<html lang="de">
{% include '/frontend/_partials/_head.html.twig' %}
<body>
{% include '/frontend/_partials/_fallback.html.twig' %}
{% block content %}{% endblock %}
{% include '/frontend/_partials/_scripts.html.twig' %}
</body>
</html>