{% extends 'layoutAdmin.html.twig' %}


{% block title %}Newsletter Sendestatus{% endblock %}

{% block content_header_username %}

{% endblock %}


{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveNewsletter %}class="active"{% endblock %}
{% endblock %}


{# Content-Header, hier Titel und optionalen Text setzen #}
    {% block pageHeader %}
        {{ parent() }}
        {% block pageHeaderDescription %} - übersicht{% endblock %}
        {% block pageHeaderTitel %}Newsletter Versandstatus{% endblock %}
        {% block BreadcrumbMainLevel %}<li><a href="{{ path('backend_newsletter') }}"><i class="fa fa-dashboard"></i> Newsletter</a></li>{% endblock %}
        {% block BreadcrumbMainLevelSubOne %}{% endblock %} {# No Sublevel here #}
    {% endblock %}


{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->



        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Newsletter Versandstatus</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">

                {# {{ dump(result) }} #}

            </div><!-- /.box-body -->
        </div><!-- /.box -->


    </section><!-- /.content -->

{% endblock %}