//  --------------------------------------------------------
//  button reset
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

button {
    padding : 0;
    border  : 0;
    outline : none;
}
