//  --------------------------------------------------------
//  global heading
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  resets for all headings
//  --------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    color         : $COLOR-BRAND;
    font-family   : $FONT-PRIMARY;
    line-height   : $HEADING-LINE-HEIGHT;
    margin-top    : 0;
    margin-bottom : 0;
}

//  --------------------------------------------------------
//  heading: h1
//  --------------------------------------------------------

h1 {
    font-size : $HEADING-H1;
}

//  --------------------------------------------------------
//  heading: h2
//  --------------------------------------------------------

h2 {
    font-size : $HEADING-H2;
}

//  --------------------------------------------------------
//  heading: h3
//  --------------------------------------------------------

h3 {
    font-size : $HEADING-H3;
}

//  --------------------------------------------------------
//  heading: h4
//  --------------------------------------------------------

h4 {
    font-size : $HEADING-H4;
}

//  --------------------------------------------------------
//  heading: h5
//  --------------------------------------------------------

h5 {
    font-size : $HEADING-H5;
}

//  --------------------------------------------------------
//  heading: h6
//  --------------------------------------------------------

h6 {
    font-size : $HEADING-H6;
}
