{#
########################################################
    partial: fallback text
########################################################
#}

<!--[if lt IE 10]>
<div class="fallback"><h2>Ihr Browser ist veraltet.<br>— Bitte Updaten.</h2>
    <p>Sie verwenden einen veralteten Browser (Internet Explorer 9 oder tiefer) mit <b>Sicherheitsschwachstellen</b> –
        daher kann die Webseite nicht angezeigt werden.</p>
    <p>Aktualisieren Sie jetzt Ihren Web-Browser um diese Webseite zu besuchen.<br>Mit einem Update surfen Sie in
        Zukunft <b>sicherer</b> und unterstützen die <b>moderne Webentwicklung</b>.</p>
    <p>Danke für Ihr Verständnis<br><a href="http://inter-punkt.ch/" target="blank">inter-punkt. ag</a></p>
    <p><a class="fallback__link" href="http://www.browser-update.org/de/update.html"><b>Mein Browser jetzt updaten
        (Anleitung)</b></a></p></div>
<![endif]-->
