{# app/Resources/views/demo/about/base.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}index{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">


        </div>
        <h1>Shopware</h1>
        <p class="lead">E-Commerce mit Shopware. Wir entwickeln Maßgeschneiderte Templates & Plugins für Ihren Shop. Von der Konzeption & Beratung bis zum erfolgreichen
            Online Shop begleiten wir Sie.</p>
        <img class="img-responsive" src="{{ asset('assets/img/shopware-home.png') }}">
        <hr>
    </div>

    <div class="container">
        <h2>Responsiv Design</h2>
        <p class="lead">
            Heutzutage wird der mobile Aspekt und Couch Serving immer wichtiger. Mit Shopware haben Sie eine Lösung an der Hand die
            Full Responsive mitbringt. Ein ansprechendes Design auf allen Geräten und ein gut durchdachte Steuerung auf Touch Geräten.
        </p>

        <img class="img-responsive img_center" src="{{ asset('assets/img/story-design-alldevices.png') }}">
        <hr>
    </div>

    <div class="container">
        <h2>Storytelling - </h2>
        <p class="lead">
            Erstelle Themenwelten und nehm deine Kunden mit auf Reise.
        </p>
        <img class="img-responsive img_center" src="{{ asset('assets/img/tour-story-collage-min.png') }}">
        <hr>
    </div>

{% endblock %}