{# app/Resources/views/demo/about/base.html.twig #}
{% extends 'layoutFrontend.html.twig' %}

{% block title %}index{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <p>Ben says hello</p>9999sdfsf
{% endblock %}