{% extends 'layout_backend.html.twig' %}

{% block content_header_username %}
    {{ user.username }}
{% endblock %}


{# Navbar Side + active Link #}
{% block navbar %}
    {{ parent() }}
    {% block navActiveIndex %}class="active"{% endblock %}
{% endblock %}

{# Content-Header, hier Titel und optionalen Text setzen #}
{% block pageHeader %}
    {{ parent() }}
    {% block pageHeaderDescription %}ein Text{% endblock %}
    {% block pageHeaderTitel %}Index{% endblock %}
{% endblock %}

{% block content %}

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number">93,139</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->





{% endblock %}