{% extends 'layout_backend.html.twig' %}

{% block content_header_username %}
    {{ user.username }}
{% endblock %}

{% block content %}
   <p class="magic">Willkommen im Backend </p> {{ user.username }}

    <p class="magic">Willkommen im Backend </p><p class="magic">Willkommen im Backend </p><p class="magic">Willkommen im Backend </p>


{% endblock %}