{% extends 'layout_backend.html.twig' %}

{% block content_header_username %}
    {{ user.username }}
{% endblock %}

{% block content %}

    <div class="header">
        <h1>Interpunkt AG News</h1>
    </div>

    <div class="content">
        <p>23.03.2016</p>
        <p>Ein Update für Ihre Interpunkt Applikation steht bereit, kontakieren Sie uns.</p>

        <p>16.03.2016</p>
        <p>Lerne das Backend und seine Funktionen kennen, jetzt Video anschauen..</p>
    </div>



{% endblock %}