//  --------------------------------------------------------
//  global colors variables
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

$color-white: #ffffff;
$color-black: #000000;

$color-pirmary: #3c8dbc;

$color-accent-light: #b8c7ce;
$color-accent-medium: #374850;
$color-accent-dark:  #1a2226;

$color-gray-light: #999999;
$color-gray-medium: #666666;