{% extends 'layout_login.html.twig' %}

{% block content_header %}{% endblock %}

{% block actions %}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    {% block fos_user_content %}
        <style>
            html, body {height: 100%}
        </style>
        <div class="container" style="height:100%; min-height: 100%;">

            <div class="row" style="margin-top: 25%;">
                <div class="col-md-4"></div>
                <div class="col-md-4 login--box">

                    <form class="form--box login-box" action="{{ path("fos_user_security_check") }}" method="post">



                        <h2>Login <span style="float: right;" class="glyphicon glyphicon-user" aria-hidden="true"></span></h2>
                        <p>Mit deiner Email Adresse und Passwort einloggen.</p>
                        <hr class="colorgraph">
                        <br>
                        {% if error %}
                            <div class="alert alert--false">{% trans %}login.failed.text{% endtrans %}</div>
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group">
                            <input placeholder="Email" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Passwort" class="form-control" type="password" id="password" name="_password" required="required" />
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> eingeloggt bleiben?
                            </label>
                        </div>

                        <input class="btn btn-default form-control login-btn" type="submit" id="_submit" name="_submit" value="einloggen" />
                    </form>

                </div>
                <div class="col-md-4"></div>
            </div>



        </div>


    {% endblock %}
{% endblock %}