{% extends 'layout_login.html.twig' %}

{% block content_header %}{% endblock %}

{% block actions %}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    {% block fos_user_content %}

        <div class="container-fluid container-login">


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <form class="form--box login-box" action="{{ path("fos_user_security_check") }}" method="post">

                        <h2>{% trans %}login.company.name{% endtrans %}</h2>

                        {% if error %}
                            <div class="alert alert--false">{% trans %}login.failed.text{% endtrans %}</div>
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <label for="username">{% trans %}login.username.label{% endtrans %}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                        <label for="password">{% trans %}login.password.label{% endtrans %}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />



                        <input class="btn btn-primary form-control login-btn" type="submit" id="_submit" name="_submit" value="{% trans %}login.button.text{% endtrans %}" />
                    </form>

                </div>
                <div class="col-md-4"></div>
            </div>



        </div>


    {% endblock %}
{% endblock %}