{# app/Resources/views/demo/about/base.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}DevPro Blog & News{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">

            {#
            Hier werden die Blog Einträge aus der Table Blog angezeigt
            #}


    </div>

{% endblock %}