<body>

    {% if success == true %}
        <p>Passwort zurück setzen erfolgreich, in Kürze erhalten Sie eine E-Mail mit Ihrem neuen Passwort.</p>
    {% else %}
        <p>Ihr Passwort konnte nicht zurück gesetzt werden. Token falsch oder abgelaufen.</p>
    {% endif %}

</body>