//  --------------------------------------------------------
//  component flash-message
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  mod: content-wrapper
//  --------------------------------------------------------

.content-wrapper {
    position : relative;
}

//  --------------------------------------------------------
//  flash-messages position & shadow
//  --------------------------------------------------------

.flash-message {
    position : absolute;
    top      : 15px;
    right    : 15px;
    z-index  : 810;
    
    &__wrapper {
        position : relative;
        
        &:after {
            content    : '';
            top        : 50%;
            right      : 15px;
            bottom     : 0;
            left       : 15px;
            position   : absolute;
            z-index    : -2;
            box-shadow : 0px 2px 60px 0px rgba($color-black, 0.8), 0px 2px 60px 0px rgba($color-primary, 0.8);
            
        }
    }
}
