{################################################ 
    Partial: Footer for layout
#################################################}

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Version 1.0.0 Beta
    </div>
    <!-- Default to the left -->
    <strong>&copy; {{ "now"|date("Y") }} <a href="//www.inter-punkt.ch" target="_blank">inter-punkt. ag</a>.</strong> All rights reserved. Development by Benjamin Knecht & Selim Imobedorf
</footer>