{# app/Resources/views/demo/about/base.html.twig #}
{% extends 'layoutFrontend.html.twig' %}

{% block title %}Kontaktformular{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">

        <h1>Kontakformula</h1>
        <p class="lead">Schreiben Sie uns.</p>
        <hr>

        <h1>Kontakformula</h1>
        <p class="lead">Schreiben Sie uns.</p>
        <hr><h1>Kontakformula</h1>
        <p class="lead">Schreiben Sie uns.</p>
        <hr><h1>Kontakformula</h1>
        <p class="lead">Schreiben Sie uns.</p>
        <hr><h1>Kontakformula</h1>
        <p class="lead">Schreiben Sie uns.</p>
        <hr>


    </div>

{% endblock %}