{% extends 'layout_backend.html.twig' %}


{% block content %}

    <div class="container">
        <h1>Hier LESS Settings einstellen, do some magic..</h1>

        <p>Ich bin ein Text...</p>

        {{ form_start(form) }}
        <div class="input-group demo1">
            {{ form_row(form.primary_color) }}
            <span class="input-group-addon"><i></i></span>
        </div>
        {{ form_row(form.secondary_color) }}
        {{ form_end(form) }}

    </div>


{% endblock %}