{% extends 'layout_backend.html.twig' %}


{% block content %}

    <div class="container">
        <h1>Hier default LESS Settings einstellen, do magic..</h1>

        <p>Ich bin ein Text...</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>


{% endblock %}