{################################################
    Layout Definition & Variables
#################################################}

{# Layout #}
{% extends 'layout_backend.html.twig' %}

{# Sidebar: Aktiver Link #}
{% block navActiveMedia %}class="active"{% endblock %}

{# Content-Header: Titel und optionale Description + Breadcrumps #}
{% block pageHeader %}
    {{ parent() }}

    {# Seitentitel #}
    {% block pageHeaderTitel %}{{ title }}{% endblock %}

    {# Beschreibung neben Seitentitel #}
    {% block pageHeaderDescription %}Eine Beschreibung{% endblock %}

    {# Breadcrumb: Toplevel #}
    {% block BreadcrumbMainLevel %}
        <li><a href="{{ path('admin_mediamanager') }}"><i class="fa fa-sitemap"></i> {{ title }}</a></li>
    {% endblock %}

    {# Breadcrumb: Sublevel #}
    {% block BreadcrumbMainLevelSubOne %}{% endblock %} {# No Sublevel here #}
{% endblock %}


{################################################
    Block: content
#################################################}

{% block content %}
    <!-- Main content -->
    <section class="content">

                        <iframe src="/elfinder" width="100%" height="600px"></iframe>

    </section><!-- /.content -->
{% endblock %}