{% extends 'layout_backend.html.twig' %}

{% block content_header_username %}

{% endblock %}

{% block content %}
    <p>Hier Blog Index</p>

    {# Tabelle mit Einträgen aus Table Blog, wenn keine Einträge vorhanden Nachricht ausgeben das keine News vorhanden sind #}
    {{ dump(data) }}

{% endblock %}