{% extends 'layout_backend.html.twig' %}

{% block content_header_username %}

{% endblock %}

{% block content %}
    <p>Hier Blog Index</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}