//  --------------------------------------------------------
//  override datatables
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin-top    : 20px;
    margin-bottom : 0;
}

.dataTables_info {
    padding : 7px 0;
}

.pagination {
    float : right;
}

/* pagination color */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color : $color-primary;
    border-color     : $color-primary;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color : $color-primary;
}