//  --------------------------------------------------------
//  global link
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  default
//  --------------------------------------------------------

a,
a:active,
a:focus,
a:hover {
    @extend %transition;
    text-decoration : none;
    outline         : none;
}

a {
    color : $color-primary;
}

a:active,
a:focus,
a:hover {
    color : darken($color-primary, 5);
}
