<p>Es wurde ein Benutzer Konto erstellt. Sie können sich mit den nachfolgenden Daten einloggen.</p>
<p>Benutzer: {{ email }}</p>
<p>Passwort: {{ password }}</p>
<a href="http://{{ url }}">Zum Login</a>