<p>Sie haben ein neues Passwort angefordert. Bitte bestätigen Sie den Link um Ihr Passwort zurück zu setzen.</p>
<a href="{{ path('admin_password_reset_confirm', { 'confirmationToken' : token }) }}">Neues Passwort anfordern</a>